#chat-screen {
  background-color: #abc1d1;
}

#chat-screen .alt-header {
  position: fixed;
  width: 100%;
  box-sizing: border-box;
}

#chat-screen .alt-header__column:last-child span {
  margin-left: 20px;
}

#chat-screen .alt-header__title {
  font-weight: 600;
}

.main-chat {
  margin-top: 114px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chat__timestamp {
  background-color: #92a4b2;
  color: #f0f3f5;
  padding: 10px 20px;
  border-radius: 30px;
  margin-bottom: 26px;
}

.message-row {
  width: 100%;
  display: flex;
  margin-bottom: 25px;
}

.message-row img {
  width: 50px;
  height: 50px;
  border-radius: 39%;
  margin-right: 11px;
}
.message__author {
  font-size: 19px;
  opacity: 0.7;
  margin-bottom: 10px;
  display: block;
}

.message__info {
  display: flex;
  align-items: flex-end;
}

.message__bubble {
  background-color: white;
  padding: 14px;
  font-size: 18px;
  border-radius: 15px;
  border-top-left-radius: 0px;
}

.message__time {
  opacity: 0.7;
  font-size: 14px;
  margin: 0 5px;
}

.message-row--own {
  justify-content: flex-end;
}

.message-row--own .message__bubble {
  background-color: var(--yellow);
  border-top-right-radius: 0px;
  border-top-left-radius: 15px;
}

.message-row--own .message__info {
  flex-direction: row-reverse;
}

.reply {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 5px 22px;
  box-sizing: border-box;
  align-items: center;
}
.reply i {
  opacity: 0.6;
}

.reply .reply__column:first-child {
  width: 10%;
}
.reply .reply__column:last-child {
  width: 90%;
  position: relative;
}

.reply input {
  padding: 14px;
  width: 100%;
  border: var(--border);
  border-radius: 25px;
  box-sizing: border-box;
}
.reply ::placeholder {
  font-size: 20px;
}
.reply [type="text"] {
  font-size: 20px;
}

.reply .reply__column:last-child > i,
.reply .reply__column:last-child button {
  position: fixed;
  bottom: 12px;
  right: 26px;
}

.reply .reply__column:last-child > i {
  right: 80px;
  bottom: 17px;
}

.reply .reply__column:last-child button {
  background-color: var(--yellow);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
}

.reply .reply__column:last-child button i {
  opacity: 1;
}

.reply .reply__column:last-child button:focus,
.reply .reply__column:last-child button:active {
  outline: none;
}
