.friends-display-link {
  display: block;
  text-align: center;
  font-size: 20px;
  background-color: #f5f5f5;
  padding: 15px 0px;
  margin-bottom: 15px;
  margin-top: -15px;
  color: rgba(0, 0, 0, 0.5);
}

.friends-display-link i {
  color: #d5d5d5;
  margin: 0px 10px;
}

.friends-screen {
  padding: 0px var(--horizontal-space);
}

.friends-screen__channel__header {
  display: flex;
  justify-content: space-between;
  color: var(--font-grey);
  border-top: var(--border);
  padding: 15px 0px;
  margin-top: 23px;
  margin-bottom: 10px;
}
