.welcome-header {
  margin: 90px 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--brown);
}
.welcome-header__title {
  font-size: 30px;
  margin-bottom: 30px;
  opacity: 0.85;
}
.welcome-header__text {
  opacity: 0.43;
  font-size: 22px;
}

#login-form {
  display: flex;
  flex-direction: column;
  margin: 0px 33px;
}

#login-form input {
  border: none;
  padding: 27px 0px;
  font-size: 25px;
  
}
#login-form input:not([type="submit"]) {
  transition: border-color 0.5s ease-in-out;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}


#login-form input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

#login-form input:focus {
  border-color: var(--yellow);
}

#login-form input[type="submit"]{
  margin: 30px 0px 0px 0px;
  text-align: center;
  background-color: var(--yellow);
  color: var(--brown);
  cursor: pointer;
  opacity: 0.8;
  border-radius: 5px;
}


#login-form a {
  text-align: center;
  text-decoration: none;
  margin-top: 30px;
  color: var(--brown);
  font-size: 20px;
  opacity: 0.7;
}

#login-form input[type="submit"] {
  action="friends.html" method="get" ;
}