.surrounding-screen-header {
  height: 90px;
}

.screen-header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 30px;
  width: 100%;
  padding: var(--horizontal-space);
  align-items: center;
  box-sizing: border-box;
  color: rgba(8, 4, 4, 0.8);
  z-index: 10;
}

.screen-header__title {
  font-size: 35px;
  font-weight: 600;
}
.screen-header__icons span {
  margin-left: 35px;
}
