.user-component,
.user-component__column:first-child {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-component__avatar {
  width: 70px;
  height: 70px;
  border-radius: 40%;
  margin-right: 23px;
}

.user-component__title {
  font-size: 25px;
  font-weight: 500;
}

.user-component__subtitle {
  color: #a1a1a1;
  margin-top: 9px;
  font-size: 21px;
}

.user-component__avatar--xl {
  width: 85px;
  height: 85px;
}

.user-component__avatar--sm {
  width: 65px;
  height: 65px;
}

.user-component__title--not-bold {
  font-weight: 400;
}
